@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Comforter&family=Corinthia:wght@700&family=Dancing+Script&family=EB+Garamond:ital,wght@1,500&family=Gwendolyn:wght@700&family=Indie+Flower&family=Lobster&family=Meow+Script&family=Quicksand:wght@300&family=Raleway:wght@100;200&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Comforter&family=Corinthia:wght@700&family=Dancing+Script&family=EB+Garamond:ital,wght@1,500&family=Gwendolyn:wght@700&family=Indie+Flower&family=Lobster&family=Meow+Script&family=Quicksand:wght@300&family=Raleway:wght@100;200&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a{
    text-decoration: none;
    list-style: none;
}



body{
    background: black;
    font-family: "quicksand";
    font-size: larger;
    max-width: 2700px;
    margin: auto;
}





/* utilities */
 .btn-home{
    display: inline-block;
    position: fixed;
    top: 0;
    z-index: 4;
    padding-top: 6rem;
    padding-left: 0.6rem;
}

.btn-home a{
    color: #fff;
    border: #fff solid 1px;
    padding: 0.2rem;
    border-radius: 6px;
    
    
}



/* header */
header{
    background: url(../img/pexels-daria-rem-1726077.jpg) no-repeat center center/cover;
    height: 100vh;
    

    
}
header .main-nav{
  text-align: center;  
  padding: 2rem;
  position: sticky;
  top:0;
  z-index: 2;
  
}

header .main-nav a{
    padding-top: 2rem;
    padding: 0.8rem;
    padding-bottom: 0.3rem;
    color: #fff;
    transition: all 0.3s ease-in;
}

header .main-nav a:hover{
    border-bottom: 2px solid black;
    
}

header .aside1{
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    
}
header .aside1 a{
    border: 0.5px solid white; 
    border-radius: 0.8rem;
    padding: 0.7rem;
    color: white;
    transition: all 0.2s ease-in;
}

header .aside1 a:hover{
    background: black;
    color: #fff;
}

header h1{
    font-family: "raleway";
    font-size: 6rem;
    margin-top: 1rem;
    margin-left: 3rem;
    color: #ddd;
}

header p{
    font-family: "quicksand";
    margin-left: 20rem;
    color: #fff;
    font-size: larger;
    margin-top: 0;
}

/* About */



main h1{
    font-size: 5rem;
    color: #ddd;
    font-family: "raleway";
    margin-left: 50rem;

}

main p{
    color: #ddd;
    line-height: 1.7;
    padding: 2.5rem;
    
}



main #about-image{
  display: flex;
  justify-content: space-around;
    

}

main #about-image img{
 width: 400px;
}



/* sign-up */

section  .text-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9rem;
    color: #fff;
    
}

/* section .signup-form{
    background: #333;
    padding: 2rem;
    opacity: 0.9;
} */

section .signup-text h1{
    font-family: 'raleway';
    font-size: 6rem;
   
    
}

section .signup-text{
    margin-bottom: 18rem;
}





.signup-form .form-group{
    margin-bottom: 1rem;
    
}

.signup-form .form-group label{
    display: block;
}

.signup-form .form-group input{
    width: 70%;
    padding: 0.5rem;
    border: 2px solid #333;
}

.signup-form .form-group textarea{
    width: 70%;
}

.signup-form button {
    display: block;
    width: 70%;
    padding: 10px;
    background: black;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    color: #fff;
    box-shadow: 5px 5px 5px #fff;
  }

  /* saftety */

#Safety-tips{
    color: #fff;
    padding: 5rem;
    font-family: 'raleway';
    background: black;
    max-width: 1160px;
    margin: auto;
    margin-bottom: 3rem;
    box-shadow: 0 20px 30px 0 rgba(255, 255, 255, 0.3);
   
    
}

/* footer */
footer{
 width: 100%;
 background: url(../img/imageedit_4_9338558376.jpg) no-repeat center center/cover;
 

}

footer .footer-links {
  display: flex;
    padding: 3rem;
    
}



footer .footer-links li {
    padding: 1.8rem;
}

footer a{
    color: #fff;
    transition: all 0.3s ease-in;
    
}

footer ul li{
    list-style: none;
    
}

footer ul li  :hover{
    color: #333;
}

footer .socials{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    align-items: center;
   
}

footer .socials i{
    padding: 1.5rem;
    
}

footer .socials i :hover{
 color: #333;
}

footer .footer-thread{
    display: flex;

    
}


  

.footer-about h4{
    font-size: 3rem;
    font-weight: bolder;
    text-align: right;
    margin-bottom: 4rem;
    color: #fff;
}

footer .footer-about p{
    font-weight: bolder;
    text-align: right;
    color: #fff;
    
}

/* .footer-thread .form {
  
    
} */


@media (max-width:952px){
    header nav a{
        font-size: 13px;
        
    }

    section .signup-text h1 {
        display: none;
        
    }
    section .signup-text p {
        display: none;
        
    }

    section .signup-form{
        margin-right: 9rem;
    }
    .signup-form .form-group input{
        width: 50%;
    }

    .signup-form button{
        width: 50%;
    }

    main h1{
        margin-top: 8rem;
        margin-left: 5rem;
        font-size: 3rem;
    }

    main #about-image {
        display: block;
        margin-left: 2rem;
    }

    .footer-about h4{
        font-size: 10px;
    }
}





@media (max-width:600px){
    /* header nav a{
        font-size: 13px;
        
    } */

    main .about-text p{
        font-size: 18px;
        text-align: left;
        line-height: 2.0;
        padding-right: 4rem;
    }

    section .signup-text h1 {
        display: none;
        
    }
    section .signup-text p {
        display: none;
        
    }

    section .signup-form{
        margin-right: 9rem;
    }
    .signup-form .form-group input{
        width: 200%;
    }

    .signup-form button{
        width: 100%;
    }

    main h1{
        margin-top: 8rem;
        margin-left: 5rem;
        font-size: 3rem;
    }

    main #about-image {
        display: block;
        margin-left: 2rem;
    }

    .footer-about h4{
        font-size: 10px;
    }

    footer .socials{
        margin-right: 2rem;
    }
}
    




@media (max-width:540px){
    header h1{
        font-size: 25px;
        
    }

   .btn-home{
        display: hidden;
    }

    section .signup-text h1 {
        display: none;
        
    }
    section .signup-text p {
        display: none;
        
    }

    section .signup-form{
        margin-right: 9rem;
    }
    .signup-form .form-group input{
        width: 200%;
    }

    .signup-form button{
        width: 100%;
    }

    main h1{
        margin-top: 8rem;
        margin-left: 5rem;
        font-size: 3rem;
    }

    main #about-image {
        display: block;
        margin-left: 2rem;
    }

    .footer-about h4{
        font-size: 10px;
    }
}

@media (max-width:414px){
    header p{
        margin-right: 6rem;
    }
    footer .socials{
        margin-right: 2rem;
    }
    footer .socials i {
        font-size: 18px;
    }
}

@media (max-width:364px){
    footer .socials{
        margin-left: 2rem;
    }

    footer .footer-links {
        margin-right: 20rem;
        padding: 0rem 0rem;
    }

    main .about-img {
        width: 20px;
    }

    .btn-home{
        display: none;
    }

    header p{
        margin-top: 4rem;
        margin-left: 3rem;
    }
}


